$link-color: #000;
$body-color-dark: #f8f9fa;
$link-color-dark: #f8f9fa;
$link-hover-color-dark: #f8f9fa;
$link-hover-color: #000;

.badge {
  --bs-primary-rgb: 0, 0, 0;
}

.bg-light {
  --bs-light-rgb: 255, 255, 255;
}
